body {
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    background-color: #000;
    font-family: 'Play', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

/* DELETE SCROLLBAR ON WHOLE PAGE */
::-webkit-scrollbar {
    width: 0;
  }

/* DISABLE SELECT TEXT CLASS */
.noSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: #6923c5;
    transition: 2s;
}

a:hover {
    opacity: 0.7;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

.nav {
    float: left;
}

.navList li {
    /* color: #000; */
    float: left;
    margin-right: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.navList li a {
    /* color: #000; */
    color: #fff;
    margin-right: 20px;
}
.navList li a.active {
    color:#6923c5;
    margin-right: 20px;
}

.header {
    padding: 20px 100px 40px;
    width: 100%;
    height: 60px;
    /* background: linear-gradient(180deg, #000, #6923c52a); */
}

.clearfix {
    clear: both;
}

.ban {
    /* background-image: url(../images/heist.jpg); */
    background-image: url(../images/banner.png);
    background-size: 100%;
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;
    /* margin-bottom: 40px; */
}

/* .ban:hover {
    opacity: 0.95;
    transition-delay: 1s;
    transition: 2s;
} */


.karmaLogo {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    transition: 1.5s;
}

.karmaLogo:hover {
    opacity: 0.7;
}

.bannerText {
    text-align: center;
    margin: auto;
    padding-top: 500px;
}

.howToPlay {
    width: 900px;
    height: 230px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
    transition: 2s;
    margin-top: 40px;
}

.howToPlay:hover {
    border-radius: 30px;
    background-color: rgb(15, 15, 15);
}

.afterBanner {
    background: linear-gradient(#000, #6923c52a);
}